vim/dot-vim/pack/minpac
neovim/dot-config/configstore/

emacs/dot-emacs.d/generated-elisp
emacs/dot-emacs.d/autosaves
emacs/dot-emacs.d/auto-save-list
emacs/dot-emacs.d/private.el
emacs/dot-emacs.d/elpa

